In [28]:
import warnings
warnings.filterwarnings("ignore")

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_absolute_percentage_error as mape
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor

In [30]:
df = pd.read_excel("DiamondsPrices.xlsx")

In [31]:
df.shape

(53940, 10)

In [32]:
df = df.iloc[:1000,4:7]

In [33]:
df.head()

   depth  table  price
0   61.5   55.0    326
1   59.8   61.0    326
2   56.9   65.0    327
3   62.4   58.0    334
4   63.3   58.0    335

In [34]:
X = df.drop('price',axis=1)
y = df['price']

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [36]:
lrmodel = LinearRegression()
lrmodel.fit(X_train,y_train)

LinearRegression()

In [37]:
import pickle
with open('lrmodel.pkl', 'wb') as file:
    pickle.dump(lrmodel, file)